<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Pokémon Quick Attack</h1>
    <form action="/search-type" enctype="multipart/form-data" method="POST">
        <button type="submit" name="search" value="pokemon">Pokémon</button>
        <button type="submit" name="search" value="type">Type</button>
    </form>
    {% block body %}{% endblock %}
</body>
</html>