<form class="input-form"
      action="/pokemon"
      enctype="multipart/form-data"
      method="POST">
    <input 
        type="pokemon"
        name="pokemon"
        placeholder="{{ data.name|default('Search for Pokemon') }}" />
</form>

<div class="pokemon-data-container">
    {% if data.error %}
        <p>Pokemon not found.</p>
    {% elif data %}
        <img class="pokemon-img" src="{{ data.img_url }}" />
        <h3 class="pokemon-name">{{ data.name|capitalize }}</h3>
        <div class="pokemon-type-container">
            {% for type in data.types %}
                <p>{{ type }}</p>
            {% endfor %}
        </div>
        {% include 'damage_relationship_table.html.jinja' %}
    {% endif %}
</div>