<form action="/pokemon" enctype="multipart/form-data" method="POST">
    <input type="pokemon" name="pokemon" placeholder="Search for Pokémon" />
</form>

<div>
    <h2>Pokémon Display.</h2>
    {% if data.error %}
        <p>Pokemon not found.</p>
    {% elif data %}
        <img src="{{ data.img_url }}" />
        <h3>Name: {{ data.name }}</h3>
        <div>
            <h4>Types</h4>
            {% for type in data.types %}
                <p>{{ type }}</p>
            {% endfor %}
        </div>
        {# TODO: Separate type advantage table to own file. #}
        {#       Used in both searches #}
        <div>
            <h4>Type Advantages</h4>
                {% if data.type_relationship.double_damage_to %}
                    <h5>Super Effective Against:</h5>
                    <ul>
                        {% for type in data.type_relationship.double_damage_to %}
                            <li>{{ type }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if data.type_relationship.half_damage_to %}
                    <h5>Does Half Damage To:</h5>
                    <ul>
                        {% for type in data.type_relationship.half_damage_to %}
                            <li>{{ type }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if data.type_relationship.no_damage_to %}
                    <h5>Is Not Very Effective Against:</h5>
                    <ul>
                        {% for type in data.type_relationship.no_damage_to %}
                            <li>{{ type }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if data.type_relationship.double_damage_from %}
                    <h5>Super Weak To:</h5>
                    <ul>
                        {% for type in data.type_relationship.double_damage_from %}
                            <li>{{ type }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if data.type_relationship.half_damage_from %}
                    <h5>Takes Half Damage From:</h5>
                    <ul>
                        {% for type in data.type_relationship.half_damage_from %}
                            <li>{{ type }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if data.type_relationship.no_damage_from %}
                    <h5>Takes No Damage From:</h5>
                    <ul>
                        {% for type in data.type_relationship.no_damage_from %}
                            <li>{{ type }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
    {% endif %}
</div>