{# TODO: Feature request, make this a searchable dropdown of types. #}
<form action="/type" enctype="multipart/form-data" method="POST">
    <input
        type="type"
        name="type"
        placeholder="{{ data.type|default('Search for Type') }}"
    />
</form>

<div>
    <h2>Type Display</h2>
    {% if data.error %}
        <p>Type not found.</p>
    {% elif data %}
        {% include 'damage_relationship_table.html.jinja' %}
    {% endif %}
</div>